* {
  font-color: black;
  font-family: Georgia, serif;
}

h1, h2 {
  color: #ff7ab9;
  font-size: 150px;
  text-align: center;
  -webkit-text-stroke: 2px white;
}

body {
  background-color: #FEFDB2;
}
