
.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

* {
  font-family: Inter, sans-serif;
}

h1, h2 {
  color: #ff7ab9;
  font-size: 165px;
  text-align: center;
  <!-- -webkit-text-stroke: 3px rgb(255, 250, 224); -->
}


body {
  margin: 50px; /* width of navbar, higher margin=skinnier navbar */
  background-color: #FEFDB2;
}

#navbar {
  position: sticky;
  top: 0; /* This defines the point at which the element starts sticking (0 pixels from the top of the viewport) */
  z-index: 10000; /* Ensures the navbar stays on top of other elements */
  margin-bottom: 5px;
  background-color: pink;
  padding: 30px; /* height of navbar */
}

/* style for the list */
#navbar ul {
  list-style: none; /* change this and see what happens */
  margin: 0;
  padding: 0;
}

/* style for the list items, aka the things holding your links to your pages */
#navbar li {
  display: inline;
  margin-right: 20px; /* change this and see what happens */
}

/* style for the links */
#navbar a {
  color: rgb(79, 53, 40); /*Color of text*/
  text-decoration: none; /* change this and see what happens */
  font-size: 30px;
}

/* style whenever you hover over a link */
#navbar a:hover {
  text-decoration: underline; /* text underlined when cursor hovers on top */
}

.image {
  border-radius: 35px;
  border: 10px solid #ff7ab9;
  margin-top: 20px;
  margin-right: 20px; 
  margin-left: 20px;
  margin-bottom: 20px;
  width: 400px;
  height: 400px;
  position: relative;
  z-index: -1;
  float: left;
}

h3 {
  color: rgb(79, 53, 40);
  font-size: 45px;
  margin-top: 80px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

h4 {
  color: rgb(79, 53, 40);
  font-size: 40px;
  text-align: center;
}
